.what
  .eyebrow
    %h2 Мы предлагаем вам современные методы продвижения вашего продукта.
  .text.text-center
    %p Инстаграм стал площадкой где продают и покупают товары. Потребитель оценивает бренд по его образу в соц сетях. Таким образом инстаграм стал играть решающую роль в современном маркетинге. Инстаграм требует постоянных публикаций контента и дает возможность погружения клиента в жизнь бренда.
.what
  .eyebrow
    %h2 Создание персонализованного контента - головная боль.
    %h2 Мы избавим вас от нее!
  .text
    %p Где брать фотографии для инстагарма? Как дать подписчиками возможность узнать о вас? Стоит ли нанимать фотографа для инстаграм? Как общаться с подписчиками?

    %p Это сложный инструмент. И если делать это правильно - клиент придет к вам.
