.why-we-are-here
  .eyebrow
    %h2 Почему мы здесь?
  .text.text-center
    %p Мы здесь, чтобы дать возможность аудитории узнать о вашем продукте через современные методы взаимодействия бренда с аудиторией.
